.title{
  text-align: center;
}
.App-header nav ul li{
  list-style-type: none;
}
.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline:20px;
  background-color: red;
}
.App-header h1:hover{
  color: white;
  transition: color 0.3s ;
  
}
.App-header nav ul {
  display: flex;
  gap: 20px;
}
.App-header nav ul li a{
  color: antiquewhite;
  text-decoration: none;
}
.App-header nav ul li a:hover{
  text-decoration: underline;
}
.Media-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
}

.title {
  font-family: "Indonesia", Broadway;
  font-size: 25px;
}


.Image-container {
  display: flex;
  gap:10px;
}

.Image-container img{
  width:300px;
}
.Video-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}


.Video-player {
  flex: 0 0 30%; 
  margin-right: 20px;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

.h2 {
  display:flex;
  justify-content: center;
  align-items: center;
}

.Media-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
  }

  